/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center;  */
  /* align-items: center;  */
}

/* ============== Custom ==============  */

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  /* justify-content: center; */
  /* align-items: center; */
}

.lap {
  display: flex;
  overflow-y: auto;
  height: 100vh;
  flex-direction: column-reverse;
  gap: 10px;

  /* flex-direction: column-reverse2222224c; */
  /* gap: 10px; */
}

.lap-items {
  display: flex;
  gap: 20px;
  justify-content: center;
  /* flex-direction: column-reverse; */
  background-color: #2222224c;
}

.lap-no {
  align-items: flex-start;
  /* text-align: left; */
}

.container-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #222;
}

.counter-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #222;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.button-group {
  display: flex;
  gap: 10px;
}

.button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #222;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.7rem;
  /* font-weight: bold; */
}
